<header class="navbar navbar-fixed-top"><!--replace inverse code when nav bar bS version issue fixed -->
  <div class="container">
    <%= link_to "TwitterLike", "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   home_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "Log In", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
